{{ form_start(form) }}
    {{ form_row(form.nick) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pass.first) }}
    {{ form_row(form.pass.second) }}

<button type="submit">Registro!</button>
{{ form_end(form) }}