{% extends 'base.html.twig' %}
{% block content %}
Inicio
    <a href="">Nueva</a>
    <a href="#">Editar</a>
    <a href="">Borrar</a>
    <br>
    {% if app.user %}
        <p>{{ app.user }}</p>
    {% else %}
        <a href="">Login</a>
        <a href="">Registro</a>
    {% endif %}

    <h3>Últimas entradas</h3>
    {% for entrada in entradas %}
        <h2>{{ entrada.title }}</h2>
        <p>{{ entrada.contenido }}</p>
        <small>{{ entrada.fecha|date('d-m-Y') }}</small>
        <small>Autor: {{ entrada.autor }}</small>
        <small>Slug: {{ entrada.slug }}</small>
    {% endfor %}
{% endblock %}